<div class="container">
    <p>
        <ngb-alert *ngIf="!alertopen" [type]="alertType" (close)="alertClose()">{{ message }}</ngb-alert>
    </p>
    <form (ngSubmit)="onSaveUser()" #createForm="ngForm">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <label class="input-group" for="createname">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Name</span>
                    <input type="text" id="createname" name="name" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="user.name" required #name="ngModel" >                    
                </label> 
                <div *ngIf="name.invalid && (name.touched || createForm.submitted)" class="alert alert-danger">
                    <div *ngIf="name.errors.serverError" >
                        {{errors['name']}}
                    </div>
                    <div *ngIf="name.errors.required">
                        The name is required to register an assistant
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <label class="input-group" for="createcid">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-id-card" aria-hidden="true"></i> CID</span>
                    <input type="text" id="createcid" name="cid" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="user.cid" required #cid="ngModel" >                    
                </label>
                <div *ngIf="cid.invalid && (cid.touched || createForm.submitted)" class="alert alert-danger">
                    <div *ngIf="cid.errors.serverError" >
                        {{errors['cid']}}
                    </div>
                    <div *ngIf="cid.errors.required">
                        The cid is required to register an assistant
                    </div>
                </div>              
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <label class="input-group" for="createmail">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
                    <input type="text" id="createmail" name="email" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="user.email"
                        required #email="ngModel" >                        
                </label>
                <div *ngIf="email.invalid && (email.touched || createForm.submitted)" class="alert alert-danger">
                    <div *ngIf="email.errors.serverError" >
                        {{errors['email']}}
                    </div>
                    <div *ngIf="email.errors.required">
                        The email is required to register an assistant
                    </div>                    
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <label class="input-group" for="createaddress">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-address-card" aria-hidden="true"> Address</i>
                    </span>
                    <input type="text" id="createaddress" name="address" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="user.address"
                        required #address="ngModel" >                        
                </label>
                <div *ngIf="address.invalid && (address.touched || createForm.submitted)" class="alert alert-danger">
                    <div *ngIf="address.errors.serverError" >
                        {{errors['address']}}
                    </div>
                    <div *ngIf="address.errors.required">
                        The address is required to register an assistant
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-5">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Save User</button>
                    <button type="button" class="btn btn-warning" (click)="onCancelSave()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>