<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    {{showSuccessMessage}}
  </h1>
</div>
<app-filter [showSuccessMessage]="showSuccessMessage" [successMessage]="successMessage" (showMessageClose)="showMessageClose($event)" [hideForm]="hideForm" (onHideForm)="onHideForm($event)"></app-filter>
<app-create-assist [hideForm]="hideForm" (onSuccessMessage)="onSuccessMessage($event)"  (onHideForm)= "onHideForm($event)
  " *ngIf="!hideForm " ></app-create-assist>